{% extends 'superuser/base.html' %}
 
{% block content %}

{% comment %} 
        <form action="" method="post" id="assignPaymentForm" name="" data-invoice-url="{% url 'superuser:ajax_load_invoice' %}" novalidate>
            {% csrf_token %}
            {% comment %} <input type='text' name='branch' value="" id="branch" > 

            <select id="member" name="member" required class="data">
              <option selected>Member</option>
              {% for member in members %}
              <option value="{{ member.member }}" id="{{ member.id }}">{{ member.member }}</option>
              {% empty %}
              <option value="Gideon K. Impraim" id="member">Gideon K. Impraim</option>
              <option value="Samuel Ofosu" id="member">Samuel Ofosu</option>
              {% endfor %}
          </select>
          <br>

            <select id="branch" name="branch" required >
                <option selected>Branch</option>
                {% for branch in branches %}
                <option value="{{ branch.name }}" id="{{ branch.id }}">{{ branch.name }}</option>
                {% endfor %}
              </select>
<br>
            <select id="member_category" name="member_category" required class="data">
              <option selected>Member Category</option>
              {% for member_category in member_categories %}
              <option value="{{ member_category.category }}" id="{{ member_category.id }}">{{ member_category.category }}</option>
              {% endfor %}
            </select>

            <br>

            <select id="group" name="group" required class="data">
                <option selected>Group</option>
                {% for group in groups %}
                <option value="{{ group.group }}" id="{{ group.id }}">{{ group.group }}</option>
                {% endfor %}
            </select>

            <br>
            <select id="subgroup" name="subgroup" required class="data">
                <option selected>Subgroup</option>
                {% for subgroup in subgroups %}
                <option value="{{ subgroup.subgroup }}" id="{{ subgroup.id }}">{{ subgroup.subgroup }}</option>
                {% endfor %}
            </select>
            <br>


            <select id="fee_type" name="fee_type" required class="data">
            <option selected>Fee Type</option>
            {% for fee_type in fee_types %}
              <option value="{{ fee_type.id }}" id="{{ fee_type.id }}">{{ fee_type.fee_type }}</option>
            {% endfor %}
            </select>
            <br>

            <select id="fee_description" name="fee_description" required class="data">
              <option selected>Fee Description</option>
              {% for fee_description in fee_descriptions %}
                <option value="{{ fee_description.id }}" id="{{ fee_description.id }}">{{ fee_description.fee_description }}</option>
              {% endfor %}
              </select>
<br>
            <label for='total_invoice'>Total Invoice</label>
            <div id="total_invoice">
            <input type="text" id="total" value="" name="total_invoice" placeholder="Enter total invoice...." readonly > 
            </div>


            <p>Installment Payment</p>
            {% for period in period %}
            <input type="radio" name="install_range" value="{{ period.name }}" id="install{{ forloop.counter }}" onchange="radioCheck()">
            <label for="install_range">{{period.name}}</label>
            {% endfor %}

            <div>
            <input type="text" id="period" name="install_period" placeholder="Enter period" disabled>
            </div>

            <label for="start">Set date</label>
            <input type="date" name="set_pay_date" id="set_pay_date"  disabled>
          

            <br>
            <label for="start_date">Start Date</label>
            <input type="date" name="start_date" id="start_date" >
            <br>

            <label for="start_date">End Date</label>
            <input id="end_date" type="date" name="end_date" min="">
            <br>

            <input type="text" id="amount" name="install_amount" placeholder="Enter the amount to be paid" disabled>
<br>
            <select id="account_status" name="account_status" required class="">
              <option selected>Account Status</option>
              <option value="subscriber" id="subscriber">Subscriber</option>
              <option value="non_subscriber" id="non_subscriber">Non Subscriber</option>
            </select>
       <br>
            <input type="submit" value="Assign">
        </form> 
 {% endcomment %}




        
<div class="form-body">
          <div class="row">
              <div class="form-holder">
                  <div class="form-content">
                      <div class="form-items">
                        <h2 class="text-center mb-3" >Assign Fee</h2>
      
                          <form action="" method="post" id="assignPaymentForm" name="" data-invoice-url="{% url 'superuser:ajax_load_invoice' %}" >
      
                              {% csrf_token %}

                      

                           <div class="">
                            <select class="form-select mt-3" name="branch" id="branch" required>
                                  <option selected value="">Branch</option>
                                  {% for branch in branches %}
                                  <option value="{{ branch.name }}" id="{{ branch.id }}" >{{ branch.name }}</option>
                                  {% endfor %}
                           </select>
                       </div>

                           
                           <div class="">
                            <select class="form-select mt-3" name="member_category" id="member_category" required>
                                  <option selected value="">Member Category</option>
                                  {% for member_category in member_categories %}
                            <option value="{{ member_category.category }}" id="{{ member_category.id }}" >{{ member_category.category }}</option>
                            {% endfor %}
                           </select>
                       </div>

                       <div class="">    
                        <select class="form-select mt-3" name="group" id="group" required>
                              <option selected value="">Group</option>
                              {% for group in groups %}
                              <option value="{{ group.group }}" id="{{ group.id }}" >{{ group.group }}</option>
                              {% endfor %}
                       </select>
                       </div>


                       <div class="">    
                        <select class="form-select mt-3" name="subgroup" id="subgroup" required>
                              <option selected value="">Subgroup</option>
                              {% for subgroup in subgroups %}
                              <option value="{{ subgroup.subgroup }}" id="{{ subgroup.id }}" >{{ subgroup.subgroup }}</option>
                              {% endfor %}
                       </select>
                       </div>


                   


                       <div class="">    
                        <select class="form-select mt-3" name="fee_type" id="fee_type" required>
                              <option selected value="">Fee Type</option>
                              {% for fee_type in fee_types %}
                              <option value="{{ fee_type.id }}" id="{{ fee_type.id }}" required>{{ fee_type.fee_type }}</option>
                            {% endfor %}
                       </select>
                       </div>


                       <div class="">    
                        <select class="form-select mt-3" name="fee_description" id="fee_description" required>
                              <option selected value="">Fee Description</option>
                              {% for fee_description in fee_descriptions %}
                          <option value="{{ fee_description.id }}" id="{{ fee_description.id }}" required>{{ fee_description.fee_description }}</option>
                        {% endfor %}
                       </select>
                       </div>

                       <div class="input-group mt-3" id="total_invoice">
                        <label class="input-group-text" for="end_date">Total amount</label>
                        <input class="form-control" id="total" type="text" name="total_invoice" placeholder="Enter total invoice...." readonly>
                       </div>

                       <div class="">
                        <select class="form-select mt-3" name="member" id="member" required>
                          <option selected value="">Member</option>
                          {% for member in members %}
                          {% if member.middlename != '' %}
                          <option value="{{ member.firstname }} {{ member.middlename }} {{ member.surname }}" id="{{ member.id }}" >{{ member.firstname }} {{ member.middlename }} {{ member.surname }}</option>
                          {% else %}
                          <option value="{{ member.firstname }} {{ member.surname }}" id="{{ member.id }}" >{{ member.firstname }} {{ member.surname }}</option>
                          {% endif %}
                                  {% comment %} {% empty %}
                          <option value="Gideon K. Impraim" id="member">Gideon K. Impraim</option>
                          <option value="Samuel Ofosu" id="member">Samuel Ofosu</option> {% endcomment %}
                          {% endfor %}
                       </select>
                   </div>

                       <p  class=" mt-3">Payment Duration</p>
                       {% for period in period %}
                       <div class="form-check mt-3">
                      <input type="radio" class="form-check-input" name="install_range" value="{{ period.name }}" id="install{{ forloop.counter }}" onchange="radioCheck()" required>
                      <label class="form-check-label" for="install_range">{{period.name}}</label>
                       </div>
                      {% endfor %}

                        <div class=" mt-3">
                        <input class="form-control" type="text" id="period" name="install_period" placeholder="Enter period" disabled>
                        </div>


                        <div class="input-group mt-3">
                          <label class="input-group-text" for="start">Set Date</label>
                          <input type="date" class="form-control" id="set_pay_date" name="set_pay_date" disabled required>
                        </div>

                        <div class="input-group mt-3">
                          <label class="input-group-text" for="start_date">Start Date</label>
                          <input type="date" class="form-control" id="start_date" name="start_date" required>
                        </div>

                        <div class=" input-group mt-3">
                          <label class="input-group-text" for="end_date">End Date</label>
                          <input type="date" class="form-control" id="end_date" name="end_date" min="" required>
                        </div>


                        {% comment %} <div class="input-group mt-3">
                        
                          <input class="form-control" type="text" id="amount" name="install_amount"  placeholder="Enter the amount to be paid" onchange="checkBill()" disabled hidden>
                        </div> {% endcomment %}


                        <div class="">    
                         <select class="form-select mt-3" id="account_status" name="account_status" required>
                          <option selected>Account Status</option>
                          <option value="subscriber" id="subscriber">Subscriber</option>
                          <option value="non_subscriber" id="non_subscriber">Non Subscriber</option>
                        </select>
                        </div>

      
                        <div class="mt-3 text-center">
                          <a onclick="window.history.go(-1); return false;"><button type="button" class="btn btn-primary btn-sm mr-3" >Back</button></a>
        
                          <button id="submit" type="submit" class="btn btn-sm ml-3" style="background-color: #006c40; color: #fff">Assign</button>
                      </div>
                          </form>
      
      
                      </div>
                  </div>
              </div>
          </div>
      </div> 
      
        {% endblock %}